# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.suo
*.ncb
*.user
*.pdb
*.idb
*.res
*.ilk
*.dep

/Debug
/Release
stdout.txt
log.txt
*.suo
*.suo
G3DTest.suo
G3DTest.suo
stderr.txt
desktop.ini
UpgradeLog.XML
/_UpgradeReport_Files
/.vs
*.7.10.old
*.db

#Redist
!Installer/Redist/*
UpgradeLog.htm
