body {
	font-family: Helvetica, Verdana, Arial;
}

.navlist{
	list-style: none;
	padding-top: 0px;
	margin-top: 0px;
}
.navselected{
	font-weight: bold;
	list-style-image: url("../img/icon/shape_square.png");
}